{% load static %}

{% block extrahead %}
    <script>wihdow.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scala=1, shrink-to-fit=no">
    <title>{% block title %}Jahongir{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class=" container container-fluid d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/C++.jpg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-grid gap-2 d-md-flex justify-content-md-end" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <div class="d-md-flex justify-content-md-end" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user.username|title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'article_new' %}">Yangi post</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Kalit so'zni almashtirish</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqib ketish</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            {% else %}
            <form class="form-inline ml-auto d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'login' %}" class="btn btn-primary btn-outline-light">Kirish</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Ro'yxatdan o'tish</a>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
      
      
<div class="container">
    <br>
    <div class="row">
        <div class="col">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>